<div class="container">
  <div class="row form-group">
    <div class="col-md-6" id="radios-p1">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio1"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio1"
          >Un libro ya publicado de ficción</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio2"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio2"
          >Un guion</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio3"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio3"
          >Un argumento
        </label>
        <span
          id="ayuda-ar"
          class="badge badge-pill badge-dark"
          data-toggle="tooltip"
          data-placement="top"
          title="Tooltip on top"
        >
          ?
        </span>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio4"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio4"
          >Una biblia audiovisual
          <span
            id="ayuda-baud"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio5"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio5"
          >Un proyecto audiovisual
          <span
            id="ayuda-proa"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio6"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio6"
          >Una adaptación literaria
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio7"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio7"
          >Un formato
          <span
            id="ayuda-form"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio8"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio8"
          >Un remake
          <span
            id="ayuda-rem"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio9"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio9"
          >Un reportaje</label
        >
      </div>
    </div>
    <div class="col-md-6" id="radios-p2">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio10"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio10"
          >Un comic</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio11"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio11"
          >Una correspondencia radio</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio12"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio12"
          >Una propiedad intelectual
          <span
            id="ayuda-pint"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Los derechos sobre marcas, publicaciones, objetos, obras visuales…"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio13"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio13"
          >Un personaje real radio
          <span
            id="ayuda-pr"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span></label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio14"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio14"
          >Un texto literario no publicado
          <span
            id="ayuda-tli"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio15"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio15"
          >Una historia de vida radio
          <span
            id="ayuda-hv"
            class="badge badge-pill badge-dark btn-ayuda"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span></label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio16"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio16"
          >Una idea aun no escrita
          <span
            id="ayuda-idea"
            class="badge badge-pill badge-dark btn-ayuda"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span>
        </label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio17"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio17"
          >Un boceto de algo que creo potente radio
          <span
            id="ayuda-bo"
            class="badge badge-pill badge-dark"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          >
            ?
          </span></label
        >
      </div>
    </div>
  </div>
</div>
