<!---------OBRA------------>
<div class="row justify-content-end">
  <img src="../assets/img/Autoria.png" id="img-obra" class="img-fluid" alt="" />
</div>
<div id="container-form" class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" id="form1">
        <h2 id="title-obra">Sobre la Obra</h2>
        <app-titulo-historia></app-titulo-historia>
        <p id="p-partida">Este será tu Punto de Partida</p>
        <p>Tu historia es:</p>
        <app-checkbox-obra-historia></app-checkbox-obra-historia>
      </form>
      <p id="p-llegada">Este será tu Punto de Llegada</p>
      <form action="" id="form2">
        <p>Para tí tu historia tiene potencial para ser:</p>
        <app-checkbox-obra-potencial></app-checkbox-obra-potencial>
      </form>
      <br />
      <p id="txt-observacion">
        Te ayudaremos a planificar tu ruta. Es muy importante que sepas que
        llegar hasta un tomador de decisión de la industria audiovisual no es
        tarea fácil ni rápida. Si ya tienes experiencia, lo sabes. Si no la
        tienes, es importante que sepas que el nivel es muy alto y la
        competencia es enorme. Por eso tienes que comprometerte en el desarrollo
        y transformación de tu historia, para que ella alcance un nivel óptimo
        de presentación. Pedimos que contestes las próximas preguntas de la
        forma mas sincera y practica posible, pues eso nos hará ahorrar tiempo
        futuro.
      </p>

      <div class="form-group form-group2">
        <div id="boton" class="row justify-content-end">
          <button
            id="btn-sig"
            type="submit"
            class="btn btn-primary"
            for="form1 form2"
            disabled
          >
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
