<!---------OBRA------------>
<div class="row justify-content-end">
  <img src="../assets/img/Autoria.png" id="img-obra" class="img-fluid" alt="" />
</div>
<div id="container-form" class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" id="form1">
        <h2 id="title-obra">Sobre la Obra</h2>
        <div class="form-group">
          <label for="title">¿Cual es el titulo de la historia?</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="title"
            disabled
          />
          <p id="txt-campo" class="">
            <small>Este campo es obligatorio</small>
          </p>
        </div>
        <p id="p-partida">Este será tu Punto de Partida</p>
        <p>Tu historia es:</p>
        <div class="container">
          <div class="row form-group">
            <div class="col-md-6" id="radios-p1">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio1"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio1"
                  >Un libro ya publicado de ficción</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio2"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio2"
                  >Un guion</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio3"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio3"
                  >Un argumento
                </label>
                <span
                  id="ayuda-ar"
                  class="badge badge-pill badge-dark"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                >
                  ?
                </span>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio4"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio4"
                  >Una biblia audiovisual
                  <span
                    id="ayuda-baud"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio5"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio5"
                  >Un proyecto audiovisual
                  <span
                    id="ayuda-proa"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio6"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio6"
                  >Una adaptación literaria
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio7"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio7"
                  >Un formato
                  <span
                    id="ayuda-form"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio8"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio8"
                  >Un remake
                  <span
                    id="ayuda-rem"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio9"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio9"
                  >Un reportaje</label
                >
              </div>
            </div>
            <div class="col-md-6" id="radios-p2">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio10"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio10"
                  >Un comic</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio11"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio11"
                  >Una correspondencia radio</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio12"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio12"
                  >Una propiedad intelectual
                  <span
                    id="ayuda-pint"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Los derechos sobre marcas, publicaciones, objetos, obras visuales…"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio13"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio13"
                  >Un personaje real radio
                  <span
                    id="ayuda-pr"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span></label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio14"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio14"
                  >Un texto literario no publicado
                  <span
                    id="ayuda-tli"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio15"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio15"
                  >Una historia de vida radio
                  <span
                    id="ayuda-hv"
                    class="badge badge-pill badge-dark btn-ayuda"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span></label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio16"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio16"
                  >Una idea aun no escrita
                  <span
                    id="ayuda-idea"
                    class="badge badge-pill badge-dark btn-ayuda"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio17"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio17"
                  >Un boceto de algo que creo potente radio
                  <span
                    id="ayuda-bo"
                    class="badge badge-pill badge-dark"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Tooltip on top"
                  >
                    ?
                  </span></label
                >
              </div>
            </div>
          </div>
        </div>
      </form>
      <p id="p-llegada">Este será tu Punto de Llegada</p>
      <form action="" id="form2">
        <p>Para tí tu historia tiene potencial para ser:</p>
        <div class="container">
          <div class="row form-group2">
            <div class="col-md-6" id="radios-p3">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio18"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio18"
                  >Una película</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio19"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio19"
                  >Una miniserie radio</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio20"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio20"
                  >Una serie</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio21"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio21"
                  >Una animación radio</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio22"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio22"
                  >Un documental</label
                >
              </div>
            </div>
            <div class="col-md-6" id="radios-p4">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio23"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio23"
                  >Un reality show</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio24"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio24"
                  >Una webserie radio</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio25"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio25"
                  >Un ‘branded content’</label
                >
                <span
                  id="ayuda-brand"
                  class="badge badge-pill badge-dark"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Insumo para campaña publicitaria y marcas"
                >
                  ?
                </span>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio26"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio26"
                  >Un videojuego radio</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio27"
                  name="customRadio"
                  class="rad-form custom-control-input"
                  disabled
                />
                <label class="custom-control-label" for="customRadio27"
                  >Factual</label
                >
              </div>
            </div>
          </div>
        </div>
      </form>
      <br />
      <p id="txt-observacion">
        Te ayudaremos a planificar tu ruta. Es muy importante que sepas que
        llegar hasta un tomador de decisión de la industria audiovisual no es
        tarea fácil ni rápida. Si ya tienes experiencia, lo sabes. Si no la
        tienes, es importante que sepas que el nivel es muy alto y la
        competencia es enorme. Por eso tienes que comprometerte en el desarrollo
        y transformación de tu historia, para que ella alcance un nivel óptimo
        de presentación. Pedimos que contestes las próximas preguntas de la
        forma mas sincera y practica posible, pues eso nos hará ahorrar tiempo
        futuro.
      </p>

      <div class="form-group form-group2">
        <div id="boton" class="row justify-content-end">
          <button
            id="btn-sig"
            type="submit"
            class="btn btn-primary"
            for="form1 form2"
            disabled
          >
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
