.prueba{
  color:#adadad;
}
#div1{
  background-color: #f2f2f2;
  color: #3a3a3a;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 12px;
}
#div2{
  background-color: #ffffff;
  color: #adadad;
  font-size: 12px;
}
/*
#div1-p1{
background-color: yellow;
color: black;
}
#div1-p2{
  background-color: red;
}
#div1-p3{
  background-color:white;
  color: black;
}
#div1-r1{
  background-color: blue;
}
#container-form{
  background-color: green;
}
*/

#p-partida{
  color: #f77e0b;
}
/*
#radios-p1{
  background-color: orchid;
}
#radios-p2{
  background-color: orange;
}*/
#img-logo{
  width: 250px; 
}
#img-obra{
  margin-top: 20px;
  margin-right: 20px ;
  width: 420px;
  height: 50px;
 /*float: right;*/
}
#txt-title{
  margin-left: -10px ;
  margin-bottom: 50px;
  
}
#weplot,
#p-partida,
#p-llegada{
  color: #f77e0b;
  margin-top: 30px;
}
#div1-p1{
  margin-bottom: 20px;
  margin-top: 20px;
}
#div1-p2,
#div1-p3,
#div1-p4
{
  margin-bottom: 20px;
}
#div1-p4{
  margin-top: 40px;
}
#title-obra{
  padding-top: 30px;
  padding-bottom: 40px;
  /*color: #3a3a3a;*/
}
#txt-observacion{
  margin-top: 30px;
  margin-right: 50px;
}
#title{
  width: 630px;
}
#boton{
  margin-right: 70px;
  margin-top: 30px;
}
#txt-campo{
  color: #adadad;
}
#si-no{
  margin-left: -25px;
}
#ayuda-ar{
  margin-left: 104px;
}
#ayuda-baud{
  margin-left: 62px;
}
#ayuda-proa{
  margin-left: 50px;
}
#ayuda-form{
  margin-left: 117px;
}
#ayuda-rem{
  margin-left: 120px;
}

#ayuda-pint{
  margin-left: 110px;
}
#ayuda-pr{
  margin-left: 123px;
}
#ayuda-tli{
  margin-left: 85px;
}
#ayuda-hv{
  margin-left: 112px;
}
#ayuda-idea{
  margin-left: 123px;
}
#ayuda-bo{
  margin-left: 23px;
}
#ayuda-brand{
  margin-left: 130px;
}
.badge-dark{
  background-color: #adadad;
}