<div class="container">
  <div class="row form-group2">
    <div class="col-md-6" id="radios-p3">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio18"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio18"
          >Una película</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio19"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio19"
          >Una miniserie radio</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio20"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio20"
          >Una serie</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio21"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio21"
          >Una animación radio</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio22"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio22"
          >Un documental</label
        >
      </div>
    </div>
    <div class="col-md-6" id="radios-p4">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio23"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio23"
          >Un reality show</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio24"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio24"
          >Una webserie radio</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio25"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio25"
          >Un ‘branded content’</label
        >
        <span
          id="ayuda-brand"
          class="badge badge-pill badge-dark"
          data-toggle="tooltip"
          data-placement="top"
          title="Insumo para campaña publicitaria y marcas"
        >
          ?
        </span>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio26"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio26"
          >Un videojuego radio</label
        >
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio27"
          name="customRadio"
          class="rad-form custom-control-input"
          disabled
        />
        <label class="custom-control-label" for="customRadio27"
          >Factual</label
        >
      </div>
    </div>
  </div>
</div>
